.profileBubble {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  gap: 20px;
  animation: shrinkBubble 0.5s ease-in-out 0s forwards;
}

@keyframes shrinkBubble {
  0% {
    width: 100vw;
    height: 200px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}

.profileBubble:hover {
  filter: saturate(2);
  cursor: pointer;
  transform: scale(1.05);
}

.profileBubble:active {
  filter: brightness(0.9);
  cursor: pointer;
  transform: scale(0.9);
}

.profileBubbleExpanded {
  animation: expandBubble 0.5s ease-in-out 0s forwards;
  justify-content: baseline;
}

@keyframes expandBubble {
  0% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 100vw;
    height: 200px;
  }
}

.profileBubbleExpanded:hover {
  cursor: auto;
  filter: none;
  transform: none;
}

.profileBubbleExpanded:active {
  cursor: auto;
  filter: none;
  transform: none;
}

.profileName {
  font-size: 16px;
  transition: font-size 1s ease, transform 0.8s ease;
}

.profileName.profileNameExpanded {
  font-size: 32px;
  transform: translateY(-40px);
}

.profileButtons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
