* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.updateTaskContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-height: 250px;
}

.updateTaskTitle {
  font-weight: bold;
}

.updateTaskAddUpdate {
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-height: 30px;
}

.inputTaskUpdate {
  border-radius: 5px;
  border-width: 1px;
  padding: 5px 50px 5px 50px;
  text-align: center;
  max-height: 30px;
}

.updateTaskAddUpdateButton {
  font-size: 12px;
  width: 40px;
  border-radius: 5px;
  border: none;
}

.updateTaskAddUpdateButton:hover {
  cursor: pointer;
  filter: brightness(0.8);
  transform: scale(1.1);
}

.updateTaskAddUpdateButton:active {
  cursor: pointer;
  transform: scale(0.8);
}

.updateList {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  overflow-y: auto;
  width: 100%;
  height: 200px;
  margin-top: 10px;
}

.updateListItems {
  list-style: none;
  padding: 0;
}

.updateListItems li {
  margin-bottom: 10px; /* Adjust the value to control the vertical gap */
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.updateListItems li hr {
  /* position: static; */
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 10px; /* Remove default margin */
  border: none;
  border-top: 1px solid #ccc; /* Adjust the border style as needed */
  width: 250px;
}
