body {
  margin: 0;
  padding: 0;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  display: flex;
  justify-content: center;
  color: darkslategrey;
  margin: 0;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.buttonGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 20px;
  max-width: 400px;
}

.homeButton {
  font-size: 21px;
  color: white;
  height: 100px;
  width: 100px; /* Set a fixed width for the buttons */
  text-align: center; /* Center text within the buttons */
  margin: 5px; /* Adjust this for spacing between buttons */
  border-radius: 50%;
  transition: background-color 0.2s transform 0.2s; /* Add a transition effect for smooth color change */
  border: none;
  text-decoration: none;
  line-height: 100px;
}

.homeButton:hover {
  filter: saturate(2);
  cursor: pointer;
  transform: scale(1.05); /* Scale up on hover */
}

.homeButton:active {
  filter: brightness(0.9);
  cursor: pointer;
  transform: scale(0.9); /* Scale down on click */
}
