body {
  margin: 0;
  padding: 0;
}

.navBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* height: 20vh; */
  margin: 0;
  padding: 0;
  font-size: 30px;
  max-height: 50px;
  height: 50px;
  /* position: relative; */
}

.navBarHome,
.navBarArea,
.navBarTask {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  /* height: 20vh; */
  height: 50px;
  max-height: 50px;
  background-color: lightgrey;
  text-decoration: none;
}

.navBarHome:hover,
.navBarArea:hover,
.navBarTask:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.navBarHome.active,
.navBarArea.active,
.navBarTask.active {
  background-color: white;
  filter: brightness(1);
}
