* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f6f6f6;
}

.PageProperties {
  transition: background-color 3s ease; /* Add transition effect for the background */
}
